kafka-producer/src/main/resources/properties/KafkaServer.properties
src/main/java/properties/KafkaServer.properties
src/main/java/properties/
kafka-consumer-opensearch/src/main/java/properties/servers.properties